In [2]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('dataFrame').getOrCreate()

In [8]:
df_pyspark=spark.read.csv('pyspark_test_data_3.csv',header=True,inferSchema=True)
df_pyspark.show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|Shayema| 22|        10| 30000|
|   Neha| 23|         8| 25000|
|Susmita| 26|         4| 20000|
|   Rima| 30|         3| 20000|
|  Soumi| 39|         1| 15000|
|  Srija| 24|         2| 18000|
+-------+---+----------+------+

# Filter Operations

In [11]:
### people who have salary less than or equal to 20000
df_pyspark.filter("Salary<=20000").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|Susmita| 26|         4| 20000|
|   Rima| 30|         3| 20000|
|  Soumi| 39|         1| 15000|
|  Srija| 24|         2| 18000|
+-------+---+----------+------+

In [12]:
df_pyspark.filter("Salary<=20000").select(['Name','age']).show() ### people's name and age who have salary less than or equal to 20000

+-------+---+
|   Name|age|
+-------+---+
|Susmita| 26|
|   Rima| 30|
|  Soumi| 39|
|  Srija| 24|
+-------+---+

In [13]:
## Or another method is :
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|Susmita| 26|         4| 20000|
|   Rima| 30|         3| 20000|
|  Soumi| 39|         1| 15000|
|  Srija| 24|         2| 18000|
+-------+---+----------+------+

In [17]:
df_pyspark.filter((df_pyspark['Salary']<=20000) & (df_pyspark['Salary']>=15000)).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|Susmita| 26|         4| 20000|
|   Rima| 30|         3| 20000|
|  Soumi| 39|         1| 15000|
|  Srija| 24|         2| 18000|
+-------+---+----------+------+

In [19]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()  # not operation

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|Shayema| 22|        10| 30000|
|   Neha| 23|         8| 25000|
+-------+---+----------+------+