In [1]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

In [4]:
spark

In [7]:
df_pyspark=spark.read.csv("pyspark_test_data_4.csv",header=True,inferSchema=True)

In [8]:
df_pyspark.show()

+-------+------------+------+
|   Name| Departments|salary|
+-------+------------+------+
|Shayema|Data Science| 10000|
|Shayema|         IOT|  5000|
| Sumita|    Big Data|  4000|
|   Neha|    Big Data|  3000|
|  Kiran|Data Science| 20000|
|  Kiran|Data Science| 10000|
|  Kiran|         IOT|  5000|
|Shayema|    Big Data| 10000|
|  Sonam|Data Science| 15000|
+-------+------------+------+

In [9]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [10]:
## Group By
df_pyspark.groupBy('Name')

In [12]:
df_pyspark.groupBy('Name').sum().show()  # group by sum(salary)

+-------+-----------+
|   Name|sum(salary)|
+-------+-----------+
|Shayema|      25000|
|  Sonam|      15000|
|   Neha|       3000|
|  Kiran|      35000|
| Sumita|       4000|
+-------+-----------+

In [16]:
df_pyspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      10000|
|    Big Data|      17000|
|Data Science|      55000|
+------------+-----------+

In [17]:
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------------+
| Departments|      avg(salary)|
+------------+-----------------+
|         IOT|           5000.0|
|    Big Data|5666.666666666667|
|Data Science|          13750.0|
+------------+-----------------+

In [18]:
df_pyspark.groupBy('Departments').count().show()  # no.of employees

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    3|
|Data Science|    4|
+------------+-----+

In [21]:
df_pyspark.agg({'salary':'sum'}).show()   # total salary

+-----------+
|sum(salary)|
+-----------+
|      82000|
+-----------+

In [24]:
df_pyspark.groupBy('Name').max().show()   # who is getting max salary w.r.t jobs

+-------+-----------+
|   Name|max(salary)|
+-------+-----------+
|Shayema|      10000|
|  Sonam|      15000|
|   Neha|       3000|
|  Kiran|      20000|
| Sumita|       4000|
+-------+-----------+

In [25]:
df_pyspark.groupBy('Name').min().show()   # who is getting min salary w.r.t jobs

+-------+-----------+
|   Name|min(salary)|
+-------+-----------+
|Shayema|       5000|
|  Sonam|      15000|
|   Neha|       3000|
|  Kiran|       5000|
| Sumita|       4000|
+-------+-----------+